<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Auth0 App</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerlinkActive="active">
        <a class="nav-link" href="#" [routerLink]="['/home']" >Home</a>
      </li>
      <li class="nav-item" routerlinkActive="active">
        <a class="nav-link" href="#" [routerLink]="['/precios']" >Precio</a>
      </li>
      <li class="nav-item" routerlinkActive="active" *ngIf="auth.loggedIn">
        <a class="nav-link" href="#" [routerLink]="['/protegida']">Protegida</a>
      </li>
    </ul>
    <span class="navbar-text">

     <button *ngIf="!auth.loggedIn" (click)="auth.login()" class="btn btn-outline-primary">
         Ingresar
     </button>

     <button *ngIf="auth.loggedIn" (click)="auth.logout()" class="btn btn-outline-danger">
         Salir
     </button>
    </span>
  </div>
</nav>